.btn {
    border: 2px solid #0E1321;
    background-color: #324376;
    color: #586BA4;
    font-weight: bold;
    padding: 5px 1em;
    margin: 1em 0;
}

.btn-success {
    border-color: #F76C5E;
    background-color: #F68E5F;
    color: #F5DD90;
}

